.main {
  margin-top: 30px;
  margin-left: 35px;
  margin-right: 35px;
  box-sizing: border-box;
  height: 41vw;
  cursor: pointer;
  flex-direction: row;
  display: flex;
}

.main__container {
  display: flex;
  flex-direction: row;
  width: 50%;
}

@media screen and (max-width: 786px) {
  .main {
    flex-direction: column;
  }
  .main__container {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .main__container {
    width: 100%;
    flex-direction: column;
  }

  .main {
    flex-direction: column;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
