/* * {
  border: orange 1px solid;
} */

.header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 35px;
  margin-right: 35px;
}
.header__logo {
  background-image: url(../../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 257px;
  height: 40px;
  border: none;
}
.header__container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.header__nav-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.header__about-container {
  display: flex;
  flex-direction: column;
}
.header__info-container {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
.header__user-container {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}
.header__text {
  font-family: "Gilroy";
  text-decoration: none;
  color: #999;
  font-size: 13px;
  margin-left: 13px;
  transition: linear 0.2s all;
}
.header__text:first-child {
  margin-left: 0;
}
.header__text-info {
  margin: 0 0 0 13px;
}
.header__text-cabinet {
  font-family: "Gilroy Bold";
  width: 101px;
  margin: 0;
}

.header__text:hover {
  color: #eb1f40;
  transition: linear 0.2s all;
}

.header__button {
  border-radius: 19px;
  background-color: white;
  border: none;
  color: #9b9b9b;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 132px;
  height: 38px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}
.header__button-text {
  font-family: "Gilroy";
  line-height: 20px;
  font-size: 15px;
  margin: 0;
}
.header__button:hover {
}

.header__button-image {
  background-repeat: no-repeat;
  background-image: url(../../images/egg.svg);
  width: 17px;
  height: 17px;
  background-size: contain;
  margin-left: 10px;
  margin-top: 2px;
}

.header__button-box {
  cursor: pointer;
  background-image: url(../../images/box.png);
  width: 26px;
  height: 22px;
  background-size: contain;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  margin-left: 50px;
  opacity: 1;
  transition: linear 0.2s all;
}

.header__button-box:hover {
  opacity: 0.5;
  transition: linear 0.2s all;
}

@media screen and (max-width: 1000px) {
  .header__button {
    display: none;
  }

  .header__logo {
    min-width: 200px;
    height: 40px;
  }
}

@media screen and (max-width: 786px) {
  .header {
    flex-direction: column;
  }
  .header__logo {
    min-width: 150px;
    height: 40px;
  }
  .header__info-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
  }
  .header__container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 435px) {
  .header__logo {
    min-width: 200px;
    height: 40px;
  }
  .header__user-container {
    margin-top: 15px;
    align-items: left;
    margin-left: 0;
  }
  .header__container {
    flex-direction: column;
    justify-content: inherit;
  }
}
